.atmosphere {
    img {
        position: absolute;
        z-index: 11;

        width: 100%;
        height: 100vh;
        filter: opacity(0.3) brightness(10);
        margin: 0;


        pointer-events: none;
        user-select: none;

        object-fit: cover;
    }
}